# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log


# Vagrant
.vagrant/

# VirtualBox
*.vbox
*.vbox-prev
*.vdi

# Archives
roles.tar.gz
=======
.terraform.lock.hcl
.vagrant/
*.log
*.tar.gz 
__pycache__/
/*.pyc
.molecule/


